@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css or App.css */
body {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* .dark {
    background-color: #1a202c; 
    color: white; 
  }
  
  .light {
    background-color: white;
    color: black;
  } */
  